@model Words_learning_app_thing.Models.Slowo

@{
    ViewBag.Title = "DeleteWord";
}

<h2>Usuń</h2>

<h3>Czy napewno?</h3>
<div>
    <h4>Słowo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zawartosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zawartosc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Words", new { languageId = Model.Jezyk.Id })
        </div>
    }
</div>
