@model Words_learning_app_thing.Models.Jezyk

@{
    ViewBag.Title = "DetailsLanguage";
}

<h2>Detale języka</h2>

<div>
    <h4>Język</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "EditLanguage", new { id = Model.Id }) |
    @Html.ActionLink("Wróć", "Languages")
</p>
