@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h2>Aby zacząć</h2>
        <p>
            Pierwszym krokiem do nauki jest stworzenie Sesji. Sesja zawsze złożona jest z 5 pytań.
            Do wyboru masz tryb Nauki lub tryb Testu. W trybie Nauki nie możesz kontynuować do kolejnego pytania,
            dopóki nie odpowiesz poprawnie na pytanie bieżące. Tryb Testu pozwoli ci sprawdzić swoje umiejętności.
            Dodatkowo, możesz wybrać czy udzielanie odpowiedzi odbywać się będzie na zasadzie wpisywania słowa, czy
            wyboru z listy możliwych odpowiedzi. Ostatnim parametrem na który masz wpływ, jest poziom trudności.
            Domyślnym ustawieniem jest automatyczny wybór poziomu trudności, w zależności od twoich postępów w nauce.
            Możesz to zmienić w ustawieniach swojego konta.
        </p>
        <p><a class="btn btn-default" href="/Session/">Zaczynamy! &raquo;</a></p>
    </div>
</div>